
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.w-100 {
  width: 100% !important;
  height: 600px;
}

h3 {
  font-size: 3.575rem;
}

.py-4 {
  padding-top: 0.1rem !important;
}

//.navbar {
//  margin-left: 10rem;
//}

.carousel-caption {
  padding-bottom: 50px;
}

.carousel-caption a {
  color: rgb(252, 252, 252);
}

.card {
  margin:10px;
  
}
.card-img-top {
  height: 275px;
}

.jumbotron {
  margin-top: 2rem;
}

.card-title {
  font-size: large;
}

.phone {
  font-size: 1.200rem;
}

.company {
  margin-top: 2rem;
}

.mybestwork {
  height: 275px;
  width: 275px;
}

.muslugi {

  margin-top: 5%;
  width: 15rem;

}

.heder {
  margin-top: 5%;

}

.leftmenu {
  padding: 15px;
  font-size: 15px;
  color: #0c0c0c;

}

.l {
  font-size: 15px;

}

.uslugi
{
  color: #0e3950;
  text-decoration: none;

}

.price
{
  font-size: 20px;
  color: #0e3950;
}

.gslug
{
  font-size: 18px;
  text-decoration: none;


}

a:hover > gslug
{
  text-decoration: none;

}

.indeximg
{
  height: 200px;
  width: 200px;
}

.hrefindex
{
  color: #0c0c0c;
  text-decoration: none;
}

.imgindex
{
  padding: 10px;
  border-radius: 50px;
}

.indexvse
{
  font-size: 10px;
  font-style: italic;
}